{% load static %}
{% load article_extras %}
{% categories element.title as category_element %}
{% pics element.title as category_pic %}
<div class="article-item">
    <div class="article-top">
      <div class="article-pic">
        <img src="{% static category_pic %}" alt="{{ element.title }}">
      </div>
      <div class="article-title">   
        <a class="title-link" href="{% url 'article' element.title %}">{{ element.title }} </a>
      </div>
      <div class="article-type">
        <div class="type_tag">
        {% if element.tuto == True %}
          <a href = "{% url 'tuto_list' %}">Tuto</a>
        {% endif %}
        {% if element.oops == True %}
          <a href = "{% url 'oops_list' %}">Oops</a>
        {% endif %}
        {% if element.tuto == False and element.oops == False %}
          <a href = "{% url 'article_list' %}">Article</a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="article-body">
      <div class="article-intro">{{ element.intro }}</div>
    </div>
    <div class="article-footer">
      <div class="article-related">
        {% for category in category_element %}
        <div class="category-related">
          <a href="{% url 'category' category %}">{{category}}</a>
        </div>
        {% endfor %}
      </div>
      <div class="article-published">Publié le {{ element.created_at }}</div>
    </div>  
    <div class="line"><hr></div>
</div>