{% load static %}
{% load home_extras %}
<!-- vertical-nav -->
<div class="sidebar">
<!--top-->
  <div class="top">
    <div class="blog_title_1">Another dev,</div>
    <div class="blog_title_2">Another blog.</div>
    <div class="blog_subtitle">(en français)</div>
    <img class="avatar" src="{% static 'assets/img/slb.png' %}" 
    alt="..." 
    width="70%" 
    height="auto">        
    <div class="identity">Stéphane LE BOURGEOIS</div>
  </div>
<!--navigation--> 
  <div class="menu">
    <div class="menu-item">
      <a class="home" href="{% url 'home' %}">
        <i class="fa-solid fa-home"></i>
        <div class="element">Home</div>
      </a>
    </div>

    <div class="menu-item">
      <a href="{% url 'category_list' %}" class="category">
        <i class="fa-solid fa-list"></i>
        <div class="element">Catégories</div>
        <div class="details">{% details 'category' %}</div>
      </a>
    </div>

    <div class="menu-item">
      <a href="{% url 'article_list' %}" class="article">
        <i class="fa-solid fa-blog"></i>
        <div class="element">Articles</div>
        <div class="details">{% details 'article' %}</div>
      </a>
    </div>

    <div class="menu-item">
      <a href="{% url 'tuto_list' %}" class="tuto">
        <i class="fa-solid fa-compass-drafting"></i>
        <div class="element">Tutos</div>
        <div class="details">{% details 'tuto' %}</div>
      </a>
    </div>

    <div class="menu-item">
      <a href="{% url 'oops_list' %}" class="oops">
        <i class="fa-solid fa-droplet"></i>
        <div class="element">Oops!</div>
        <div class="details">{% details 'oops' %}</div>
      </a>
    </div>
  </div>
<!--Contact-->
  <div class="contact">
      <a href=""><i class="fa-solid fa-envelope fa-lg"></i></a>
      <a href="https://github.com/SLB974" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/st%C3%A9phane-le-bourgeois-959523189/" target="_blank">
        <i class="fa-brands fa-linkedin fa-lg"></i>
      </a>
    {% if user.is_superuser %}
        <a href="{% url 'upload' %}"><i class="fa-solid fa-download fa-lg"></i></a>
    {% endif %}
  </div>
</div>
  <!-- End vertical-nav -->
  
  
