{% if request.get_full_path == "/home/" %}

    <div class="wrapper">
        <h3 class="heading">Un blog pour suivre mon parcours de développeur web fullstack</h3>
        <div class="intro">
            Bienvenue sur mon blog. Inscris-toi pour recevoir mes derniers posts dans ta boîte de réception.
        </div>
    </div>
    
{% elif request.get_full_path == "/article/category/" %}

<div class="wrapper">
    <h3 class="heading">Les différents sujets abordés sur ce blog.</h3>
    <div class="intro">
        Clique sur une catégorie pour consulter les articles associés.
    </div>
</div>

{% elif request.get_full_path == "/article/list/" %}

<div class="wrapper">
    <h3 class="heading">Tous les articles de ce blog filtrés par catégorie.</h3>
    <div class="intro">
        Clique sur un article pour le consulter. Clique sur une catégorie que tu souhaites explorer.
    </div>
</div>

    {% include 'components/top_categories.html' %}

{% elif request.get_full_path == "/article/tutorial/" %}

<div class="wrapper">
    <h3 class="heading">Tous les tutos de ce blog filtrés par catégorie.</h3>
    <div class="intro">
        Clique sur un tuto pour le consulter. Tu peux changer la catégorie que tu souhaites explorer.
    </div>
</div>

    {% include 'components/top_categories.html' %}

{% elif request.get_full_path == "/article/oops/" %}

<div class="wrapper">
    <h3 class="heading">Amuse-toi avec les âneries que j'ai pu faire en débutant.</h3>
    <div class="intro">
        Clique sur un élément pour ne jamais rencontrer ce problème par toi-même ou en trouver la solution.
    </div>
</div>

    {% include 'components/top_categories.html' %}

{% elif "/accounts/login/" in request.get_full_path %}

<div class="wrapper">
    <h3 class="heading">Identifie-toi afin de pouvoir me contacter à propos des articles ou des tutoriels.</h3>
</div>


{% elif "/accounts/signup/" in request.get_full_path %}

<div class="wrapper">
    <h3 class="heading">Crée un compte pour recevoir l'annonce des derniers posts et me contacter.</h3>
</div>

{% elif request.get_full_path == "/mail/send_mail/" %}

<div class="wrapper">
    <h3 class="heading">Contacte-moi pour réagir à un post ou pour toute autre demande.</h3>
</div>



{% endif %}

