{% load top_extras %}
<div class="topbar">

    <div class="form-check">
        <i class="fa-solid fa-toggle-off fa-lg darkon"></i>
        <i class="fa-solid fa-toggle-on fa-lg darkoff" style="display:none;"></i>
        <div class="mode">Mode Sombre</div>
    </div>
    
    {% is_default as default_flag %}
    {% is_upload as upload_flag %}
    {% is_article as article_flag %}
    {% is_category as category_flag %}
    {% is_error as error_flag %}
    {% is_login as login_flag %}

    {% if default_flag or login_flag %}
        {% include 'components/top_default.html' %}

    {% elif upload_flag %}
        {% include 'components/top_upload.html' %}

    {% elif article_flag %}
        {% include 'components/top_article.html' %}

    {% elif category_flag %}
        {% include 'components/top_category.html' %}

    {% elif error_flag %}
        {% include 'components/top_errors.html' %}

    {% else %}
        <div class="wrapper">
            <h3 class="heading">Une erreur est survenue</h3>
        </div>
    
    {% endif %}
    {% include 'components/user_log.html' %}
</div>

