<section class="container topbar {{ topclass }}">

    <div class="form-check form-switch container-fluid d-flex justify-content-end">
        <input class="form-check-input ckecker flex-item" type="checkbox" role="switch" id="darkSwitch">
        <label class="form-check-label" for="darkSwitch">Mode Sombre</label>
    </div>
    
    {% if topclass == "top_index" %}
    
        <div class="container text-center title_section">
            <h2 class="heading">Un blog pour suivre mon parcours de développeur web fullstack</h2>
            <div class="intro">
                Bienvenue sur mon blog. Inscris-toi pour recevoir mes derniers posts dans ta boîte de réception.
            </div>
        </div>
        
    {% elif topclass == "top_category" %}
    
    <div class="container text-center title_section">
        <h2 class="heading">Les différents sujets abordés sur ce blog.</h2>
        <div class="intro">
            Clique sur une catégorie pour consulter les articles associés.
        </div>
    </div>
    
    {% elif topclass == 'top_article' %}
    
    <div class="container text-center title_section">
        <h2 class="heading">Tous les articles de ce blog filtrés par catégorie.</h2>
        <div class="intro">
            Clique sur un article pour le consulter. Tu peux changer la catégorie que tu souhaites explorer.
        </div>
    </div>
    
    {% elif topclass == 'top_tutorial' %}
    
    <div class="container text-center title_section">
        <h2 class="heading">Tous les tutos de ce blog filtrés par catégorie.</h2>
        <div class="intro">
            Clique sur un tuto pour le consulter. Tu peux changer la catégorie que tu souhaites explorer.
        </div>
    </div>
    
    {% elif topclass == 'top_oops' %}
    
    <div class="container text-center title_section">
        <h2 class="heading">Amuse-toi avec les âneries que j'ai pu faire en débutant.</h2>
        <div class="intro">
            Clique sur un élément pour ne jamais rencontrer ce problème par toi-même ou en trouver la solution.
        </div>
    </div>
    

    {% elif topclass == 'top_login' %}
    
    <div class="container text-center title_section">
        <h2 class="heading">Identifie-toi afin de pouvoir laisser des commentaires sur les articles ou tutoriels.</h2>
    </div>


    {% elif topclass == 'top_signup' %}
    
    <div class="container text-center title_section">
        <h2 class="heading">Crée un compte pour recevoir l'annonce des derniers posts et participer aux commentaires.</h2>
    </div>


    
    {% endif %}

    {% include 'components/user_log.html' %}

</section>

