<div class="userlog">
    {% if not user.is_authenticated %}

    <div class="loglink">
        <a href="{% url 'account_signup' %}">
            <i class="fa-solid fa-user-plus"></i>
            <div class="menu align-self-start">Inscription</div>
        </a>
    </div>
    <div class="loglink">
        <a href="{% url 'account_login' %}">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <div class="menu">Connexion</div>
        </a>
    </div>
        
    {% else %}
        
    <div class="loglink">
        <a href="{% url 'logout' %}" role="button">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <div class="menu">Déconnexion</div>
        </a>
    </div>
    {% endif %}
</div>