.content{
  padding-left:2%;
  padding-right:2%;
}

.form-control {
  background-color: #defbf7!important;
}

.btn-primary {
  background-color: #233E8B!important;
}

.btn-primary:hover{
  background-color: #4561b0!important;
}

.prettyprint {
  font-size: large;
  background-color: rgb(220, 208, 208);
}

.container .article_p {
  text-align:justify;
}

.container .article_h1 {
  color:red;
}

// categories

.content .categories {
  display:flex;
  flex:1;
  justify-content:center;
  align-items: center;
  align-self: center;
  padding-top:1em;
  padding-bottom:1em;
  flex-wrap: wrap;
}

.content .categories .container{
  display:flex;
  flex: 1 0 15%;
  flex-direction: column;
  padding:0.2em;
  margin:0.5em;
  justify-content:center;
  align-items:center;
  background-color:#defbf7;
  height:150px;
  width: 150px;
}

.content .categories .container img{
  width: 100px;
  height: auto;
  max-height:125px;
  transition: all 1s ease;
}

.content .categories .container img:hover{
  transform: scale(1.25);
}

.content .categories .container .category {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

//articles

.central .topbar .title h2 {
  color:rgb(51, 0, 255);
}

.central .container {
  padding:0.2em 1em 0.2em 1em;
  font-family:"Source Code Pro", monospace;
  background-color: #defbf7;
}

.central .container .prettyprint {
  background-color: #a3f0e6;
  width: max-content;

}