.content{
  padding-left:5%;
  padding-right:5%;
}

.form-control {
  background-color: #defbf7!important;
}

.btn-primary {
  background-color: #233E8B!important;
}

.btn-primary:hover{
  background-color: #4561b0!important;
}

.prettyprint {
  font-size: large;
  background-color: rgb(220, 208, 208);
}