
    
// top  
.sidebar .top {
  display:flex;
  flex-direction:column;
  font-weight: extrabold;
  text-align: center;
}
    
.sidebar .top .blog_title_1, 
.sidebar .top .blog_title_2 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 1.8em;
  padding-top:0;
  padding-bottom:-0.5em;
  padding-left:0.1em;
  padding-right:0.1em;
  color:#FFFFC7;
}
  
.sidebar .top .blog_title_1 {
  height:40px;
  text-align: left;
}
  
.sidebar .top .blog_title_2 {
  text-align: right;
}

.sidebar .top .blog_subtitle{
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  padding-bottom:0.5em;
}

.sidebar .top .avatar {
  align-self: center;
}

.sidebar .top .identity{
font-family: "Source Code Pro", monospace;  
font-size:1.3em;
padding-top: 0.5em;
}  

// navigation
.sidebar .menu{
  display: flex;
  flex-direction: column;
  width:75%;
  align-self: center;
  justify-content: start;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  margin-top:1em;
  background-color: #1ebba3;
  border-radius: 5%;
  padding:0.5em;
}

.sidebar .menu .home,
.sidebar .menu .category,
.sidebar .menu .article,
.sidebar .menu .tuto,
.sidebar .menu .oops {
  display:flex;
  flex-direction: row;
  justify-content:start;
  padding:0.5em;
}

.sidebar .menu .menu-item{
  display:flex;
  flex-direction: row;
  justify-content:start;
  padding:0.1em;
  font-family: "Ubuntu Mono";
}

.sidebar .menu .menu-item a {
  width: 100%;
  color:black;
}

.sidebar .menu .menu-item a i {
  width:15%;
}

.sidebar .menu .menu-item a .element {
  width:50%;
}

.sidebar .menu .menu-item a .details {
  text-align:right;
}

.sidebar .menu .menu-item:hover{
  background-color: #1EAE98;
}

.sidebar .menu .menu-item a:link,
.sidebar .menu .menu-item a:visited,
.sidebar .menu .menu-item a:hover,
.sidebar .menu .menu-item a:active {
  text-decoration: none;
}

.sidebar .menu .menu-item:hover a{
  color: rgb(7, 252, 11);
}

.sidebar .menu .menu-item .enlighted {
  color: rgb(243, 247, 8);
}

.sidebar .contact {
  display:flex;
  padding-right:0.5em;
  padding-left:0.5em;
  padding-bottom:0.5em;
  justify-content:space-evenly;
}

.sidebar > .contact > .mail,
.sidebar > .contact > .github,
.sidebar > .contact > .linkedin, 
.sidebar > .contact > .download{
  // border-radius: 50%;
  // width:30px;
  // height:30px;
  border: 0;
  background-color: transparent;
}

.sidebar .contact i {
  color:#FFFFC7;
}

.sidebar .contact i:hover{
  color:rgb(7, 252, 11);
}






  
