.vertical-nav {
    min-width: 18%;
    width: 18%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1EAE98;
    padding-bottom:0.2em;
    padding-bottom:0.2em;
  
  .top-sidebar {
    font-weight: extrabold;
    
    .identity{
    font-family: "Source Code Pro", monospace;
    font-size:1.3em;
  }
    .avatar{
      padding:0.1em;
    }  

    .blog_title {
      font-family: "Cedarville Cursive", cursive;
      font-size: 2em;
      padding-left:0.1em;
      padding-right:0.1em;
      // margin-bottom:0.5em;
      color:#FFFFC7;
    }

    .blog_subtitle{
      font-family: "Source Code Pro", monospace;
      font-size: 1em;
      padding-left:0.1em;
      padding-right:0.1em;
      // margin-bottom:0.5em;
    }
  }
  
  .navigation{
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    font-weight: extrabold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top:1em;
    margin-bottom:1em;
    background-color: #1ebba3;
    // border-radius: 30%;
    width:75%;

    .nav-link {
      width:100%;
    }
    .nav-link:hover{
      background-color: #1EAE98;
    }

    i {
      width:20%;
      padding-right:2em;
      width:1em;
    }

    .menu{
      width:60%;
    }
  }
    
  .contact{
    
    .btn-lg {
      border-radius: 50%;
      border: 0.5px solid #1ebba3;
    }

  }

}  





  
