.topbar {
    background-color: #defbf7;
    width:82%;
    left: 18%;
    top:0%;
    position:fixed;
    font-family:"Source Code Pro", monospace;
    padding-top: 1em;
    padding-bottom:1em;
    height:fit-content;

    .form-check .form-check-label {
        padding-left: 0.3em;
        font-family: 'Ubuntu Mono', monospace;
    }

    .userlog .nav-link{
        padding-top:1em;
        border-bottom: solid 1px black;
    }

    .userlog .nav-link i {
        padding-right:0.2em;
        color: black;
      }

    .userlog .nav-link .menu {
        color: black;
      }

    .userlog .nav-link:hover i,
    .userlog .nav-link:hover .menu,
    .userlog .nav-link:hover {
        color:red;
        border-color: red;
    }

}