{% extends "base.html" %} 

{% block content %}

  <div class="container col-12 col-md-6 col-lg-3 text-center">

    {% if form.errors %}
      <h5 class="text-danger">Les informations sont invalides.</h5>
      <h5 class="text-danger">Veuillez vérifier vos e-mail et mot de passe.</h5>
      <hr class="divider"/>
    {% endif %}
        
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-at"></i></span>
        <input type="text" 
        class="form-control email" 
        placeholder="Nom d'utilisateur ou email" 
        name="login"
        aria-label="username"
        aria-describedby="username"
        required
        id="id_username"
        pb-role="username">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
        <input type="password" 
        class="form-control password" 
        placeholder="Mot de passe" 
        name="password" 
        aria-label="password" 
        aria-describedby="password"
        autocomplete="current-password"
        required
        id="id_password"
        pb-role="password"
        >
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_fields_value }}"/>
      {% endif %}
        <button type="submit" class="btn btn-primary" id="form_submit">Connection</button>
    </form>

    <br />

    <a class="back_link" href="{% url 'signup' %}">Tu n'as pas de compte ?</a>

  </div>
{% endblock %}
