{% extends "base.html" %} 

{% block content %}
<div class="content">

  <div class="form-container">

    {% if form.errors %}
      <h5 class="text-danger">Les informations sont invalides.</h5>
      <h5 class="text-danger">Veuillez vérifier vos e-mail et mot de passe.</h5>
      <hr class="divider"/>
    {% endif %}
        
    <form method="POST" action="{% url 'account_login' %}?next={{request.GET.next}}">
      {% csrf_token %}
      <div class="input-group">
        <span><i class="fa-solid fa-user"></i></span>
        <input type="text" 
        class="form-control email" 
        placeholder="Nom d'utilisateur ou email" 
        name="login"
        aria-label="username"
        aria-describedby="username"
        required
        id="id_username"
        pb-role="username">
      </div>

      <div class="input-group">
        <span>
          <i class="fa-solid fa-lock"></i>
        </span>
        <input type="password" 
        class="form-control password" 
        placeholder="Mot de passe" 
        name="password" 
        aria-label="password" 
        aria-describedby="password"
        autocomplete="current-password"
        required
        id="id_password"
        pb-role="password"
        >
      </div>

      {% if next %}
      <input type="hidden" name="{{ next }}" value="{{ next }}"/>
      {% endif %}
        <button type="submit" class="btn" id="form_submit">Connection</button>
    </form>

    <br />

    <a class="back_link" href="{% url 'signup' %}">Tu n'as pas de compte ?</a>

  </div>
</div>
{% endblock %}
