{% extends "base.html"  %}
{% block content %}

<div class="content">
    <div class="form-container">

        {% if message %}
        <h5 class="text-danger">{{message}}</h5>
        <h5 class="text-danger">{{advice}}</h5>
        <hr class="divider"/>
        {% endif %}

        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="input-group mb-3">
                <span><i class="fas fa-user"></i></span>
                <input type="text" 
                class="form-control" 
                placeholder="Nom d'utilisateur" 
                name="username" 
                aria-label="Username" 
                aria-describedby="Username"
                required
                id="id_username">
            </div>

            <div class="input-group">
                <span ><i class="fas fa-at"></i></span>
                <input type="email" 
                class="form-control" 
                placeholder="email" 
                name="email" 
                aria-label="email" 
                aria-describedby="email"
                required
                id="id_email">
            </div>

            <div class="input-group">
                <span ><i class="fas fa-key"></i></span>
                <input type="password" 
                class="form-control" 
                placeholder="Mot de passe" 
                name="password1" 
                aria-label="password1" 
                aria-describedby="password1"
                required
                autocomplete="new-password"
                id="id_password1"
                pb-role="password">
            </div>

            <div class="input-group">
                <span><i class="fas fa-key"></i></span>
                <input type="password" 
                class="form-control" 
                placeholder="Vérification mot de passe" 
                name="password2" 
                aria-label="password2" 
                aria-describedby="password2"
                required
                autocomplete="new-password"
                id="id_password2"
                pb-role="password"
                >
            </div>

            <button type="submit" class="btn" id="form_submit">Créer mon compte</button>
        </form>
        <br/>

        <a class="back_link" href="{% url 'account_login' %}">Tu as déjà un compte ?</a>
    </div>
</div>

{% endblock %}


