<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {% load static %}
    <title>Blog</title>
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/img/favicon.ico' %}"
    />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Fontawesome Icons-->
    <script
      src="https://kit.fontawesome.com/f1f3600fd5.js"
      crossorigin="anonymous"
    ></script>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handlee"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,700;0,800;1,200;1,700;1,800"
    rel="stylesheet1">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Personnal themes CSS -->
    <link href="{% static 'assets/css/base.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'assets/css/dark-mode.css' %}" rel="stylesheet"/>

  </head>
  <body>

    {% include 'components/sidebar.html' %}
    


    {% block content %} {% endblock %}
    <footer>
    </footer>
    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/blog.js' %}"></script>
    <script src="{% static 'assets/js/dark-mode-switch.js' %}"></script>
  </body>
</div>
</html>