.wrapper{
  display:flex;
  flex-direction: column;
  padding:1em;
  justify-content:center;
  align-items:center;
  height:100px;
  align-self:center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
}

.wrapper form input[type="submit"],
.wrapper form label {
  cursor:pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  padding:0.4em;
  text-align: center;
  border: solid 1px black;
  color:black;
  width:185px;
}

.wrapper form label:hover,
.wrapper form input[type="submit"]:hover{
  background-color: #1ebba3;
  color:#FFFFC7;
  border:solid 1px red;
}

.wrapper form input[type="submit"]:disabled{
  color:grey;
  border:solid 1px grey;
  cursor: not-allowed;
}

.wrapper form input[type="submit"]:disabled:hover{
  background-color: transparent;
}

.wrapper form .file_{
  display:none;
}
