.topbar {
    font-family:"Source Code Pro", monospace;
    padding: 1em 0.5em 1em 0.5em;
    background:var(--content-background)
}

.topbar .form-check {
    display:flex;
    align-self: flex-end;
    align-items:center;
}

.topbar .form-check .darkoff,
.topbar .form-check .darkon {
    padding-right: 0.3em;
}

.topbar .wrapper {
    padding:0;
}

.central .topbar .wrapper .error-message {
    color:red;
}

.topbar .userlog{
    display:flex;
    width: 100%;
    justify-content:end;
    padding-top:1em;
    font-family: "Ubuntu Mono", monospace;
}

.topbar .userlog .loglink{
    display:flex;
    flex-direction:row;
    justify-content:end;
    margin-left:0.5em;
    padding:0.5em;
    border-radius:30px;
    border: 1px solid darkblue;

}

.topbar .userlog .loglink a{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:rgb(5, 8, 77);

}

.topbar .userlog .loglink a:hover i,
.topbar .userlog .loglink a:hover .menu{
    color:red;
}

.topbar .userlog .loglink a i {
    padding-right:0.2em;
}

.topbar .userlog .loglink a:link,
.topbar .userlog .loglink a:visited,
.topbar .userlog .loglink a:hover,
.topbar .userlog .loglink a:active {
  text-decoration: none;
}

