:root {
  --content-background:#defbf7;
  --sb-title:#FFFFC7;
  --sb-text:black;
  --sb-enlighted:rgb(243, 247, 8);
  --sb-text-hover:rgb(7, 252, 11);
  --sb-background:#1EAE98;
  --sb-menu-background:#1ebba3;
  --topbar-background:#defbf7;
  --topbar-text:black;
  --topbar-font:"Source Code Pro", monospace;
  --background-top:#FFFFC7;
  --color-top:darkblue;
  --background-bottom:#FFFFC7;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #defbf7;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 100vh;
  max-width: 280px;
  min-width: 280px;
  background-color: #1EAE98;
  padding-bottom: 0.2em;
  padding-bottom: 0.2em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  border-right: solid 1px black;
}

.central {
  display: flex;
  flex-direction: column;
  flex: 1;
  left: 280px;
}

.central .topbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--sb-background);
  left: 280px;
}

.central .content {
  display: flex;
  flex: 1;
  font-family: "Source Code Pro", monospace;
}

.central .content .wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Source Code Pro", monospace;
}

.sidebar .top {
  display: flex;
  flex-direction: column;
  font-weight: extrabold;
  text-align: center;
}

.sidebar .top .blog_title_1,
.sidebar .top .blog_title_2 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 1.8em;
  padding-top: 0;
  padding-bottom: -0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: #FFFFC7;
}

.sidebar .top .blog_title_1 {
  height: 40px;
  text-align: left;
}

.sidebar .top .blog_title_2 {
  text-align: right;
}

.sidebar .top .blog_subtitle {
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  padding-bottom: 0.5em;
}

.sidebar .top .avatar {
  align-self: center;
}

.sidebar .top .identity {
  font-family: "Source Code Pro", monospace;
  font-size: 1.3em;
  padding-top: 0.5em;
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-self: center;
  justify-content: start;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  margin-top: 1em;
  background-color: #1ebba3;
  border-radius: 5%;
  padding: 0.5em;
}

.sidebar .menu .home,
.sidebar .menu .category,
.sidebar .menu .article,
.sidebar .menu .tuto,
.sidebar .menu .oops {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0.5em;
}

.sidebar .menu .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0.1em;
  font-family: "Ubuntu Mono";
}

.sidebar .menu .menu-item a {
  width: 100%;
  color: black;
}

.sidebar .menu .menu-item a i {
  width: 15%;
}

.sidebar .menu .menu-item a .element {
  width: 50%;
}

.sidebar .menu .menu-item a .details {
  width: 20%;
  text-align: center;
}

.sidebar .menu .menu-item:hover {
  background-color: #1EAE98;
}

.sidebar .menu .menu-item a:link,
.sidebar .menu .menu-item a:visited,
.sidebar .menu .menu-item a:hover,
.sidebar .menu .menu-item a:active {
  text-decoration: none;
}

.sidebar .menu .menu-item:hover a {
  color: rgb(7, 252, 11);
}

.sidebar .menu .menu-item .enlighted {
  color: rgb(243, 247, 8);
}

.sidebar .contact {
  display: flex;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  justify-content: space-evenly;
}

.sidebar > .contact > .mail,
.sidebar > .contact > .github,
.sidebar > .contact > .linkedin,
.sidebar > .contact > .download {
  border: 0;
  background-color: transparent;
}

.sidebar .contact i {
  color: #FFFFC7;
}

.sidebar .contact i:hover {
  color: rgb(7, 252, 11);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
  height: 100px;
  align-self: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
}

.wrapper form input[type=submit],
.wrapper form label {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  padding: 0.4em;
  text-align: center;
  border: solid 1px black;
  color: black;
  width: 185px;
}

.wrapper form label:hover,
.wrapper form input[type=submit]:hover {
  background-color: #1ebba3;
  color: #FFFFC7;
  border: solid 1px red;
}

.wrapper form input[type=submit]:disabled {
  color: grey;
  border: solid 1px grey;
  cursor: not-allowed;
}

.wrapper form input[type=submit]:disabled:hover {
  background-color: transparent;
}

.wrapper form .file_ {
  display: none;
}

.topbar {
  font-family: "Source Code Pro", monospace;
  padding: 1em 0.5em 1em 0.5em;
  background: var(--content-background);
}

.topbar .form-check {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.topbar .form-check .darkoff,
.topbar .form-check .darkon {
  padding-right: 0.3em;
}

.topbar .wrapper {
  padding: 0;
}

.central .topbar .wrapper .error-message {
  color: red;
}

.topbar .userlog {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-top: 1em;
  font-family: "Ubuntu Mono", monospace;
}

.topbar .userlog .loglink {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 30px;
  border: 1px solid darkblue;
}

.topbar .userlog .loglink a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(5, 8, 77);
}

.topbar .userlog .loglink a:hover i,
.topbar .userlog .loglink a:hover .menu {
  color: red;
}

.topbar .userlog .loglink a i {
  padding-right: 0.2em;
}

.topbar .userlog .loglink a:link,
.topbar .userlog .loglink a:visited,
.topbar .userlog .loglink a:hover,
.topbar .userlog .loglink a:active {
  text-decoration: none;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--content-background);
}

.form-control {
  background-color: #defbf7 !important;
}

.btn-primary {
  background-color: #233E8B !important;
}

.btn-primary:hover {
  background-color: #4561b0 !important;
}

.central .article-container .prettyprint {
  font-size: large;
  background-color: whitesmoke;
}

.central .article-container {
  padding-left: 4em;
  padding-right: 2em;
  padding-top: 0.5em;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
  background-color: var(--content-background);
}

.central .article-container .article_p {
  text-align: justify;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.central .article-container .article_h2 {
  color: var(--sb-background);
  -webkit-margin-after: 0.2em;
          margin-block-end: 0.2em;
}

.central .article-container .article_h3 {
  color: darkblue;
  -webkit-margin-after: 0.2em;
          margin-block-end: 0.2em;
}

.content .categories {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-wrap: wrap;
}

.content .categories .container {
  display: flex;
  flex: 1 0 15%;
  flex-direction: column;
  padding: 0.2em;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.content .categories .container img {
  width: 100px;
  height: auto;
  max-height: 125px;
  transition: all 1s ease;
  border-radius: 50%;
}

.content .categories .container img:hover {
  transform: scale(1.25);
}

.content .categories .container .category {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.central .topbar .wrapper .heading {
  color: darkblue;
}

.central .topbar .top-categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 1em;
}

.central .topbar .top-categories .categories-element {
  border: solid 1px black;
  border-radius: 10px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 1em;
  background-color: #1EAE98;
  color: #FFFFC7;
}

.central .topbar .top-categories .categories-element:hover {
  background-color: #FFFFC7;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}

.central .topbar .top-categories a:link,
.central .topbar .top-categories a:visited,
.central .topbar .top-categories a:hover,
.central .topbar .top-categories a:active {
  text-decoration: none;
}

.central .error-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #defbf7;
  color: red;
  font-family: "Allerta Stencil", cursive;
  font-size: 37px;
}

.central .error-container .error {
  padding: 1em;
}

.central .content .intro h2 {
  color: var(--sb-background);
}

.central .content .intro a:hover {
  color: red;
}

.central .content .wrapper a {
  padding-top: 2em;
}

.central .content .articles-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  width: 100%;
}

.central .content .articles-container .article-item {
  margin-bottom: 1em;
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.central .content .articles-container .article-item .article-top {
  display: flex;
  flex-direction: row;
  background-color: var(--background-top);
  border-radius: 50px;
  border: solid 3px darkblue;
  color: var(--color-top);
  padding: 0.2em;
  justify-content: start;
  align-items: center;
}

.central .content .articles-container .article-item .article-top .article-pic {
  margin-right: 1em;
  padding: 0.1em;
  padding-top: 0.3em;
  align-self: center;
  border-radius: 50%;
}

.central .content .articles-container .article-item .article-top .article-pic img {
  height: 35px;
  width: auto;
  max-height: 50;
  transition: all 1s ease;
  border-radius: 50%;
}

.central .content .articles-container .article-item .article-top:hover .article-pic img {
  transform: scale(1.25);
}

.central .content .articles-container .article-item .article-top .article-pic img:hover {
  transform: scale(1.25);
}

.central .content .articles-container .article-item .article-top .article-title .title-link:link,
.central .content .articles-container .article-item .article-top .article-title .title-link:visited,
.central .content .articles-container .article-item .article-top .article-title .title-link:hover,
.central .content .articles-container .article-item .article-top .article-title .title-link:active {
  color: var(--color-top);
  text-decoration: none;
}

.central .content .articles-container .article-item .article-top .article-type {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex: 1;
}

.central .content .articles-container .article-item .article-top .article-type .type_tag a {
  border: solid 1px black;
  border-radius: 10px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 1em;
  background-color: darkblue;
  color: #FFFFC7;
  font-size: 0.8em;
}

.central .content .articles-container .article-item .article-top .article-type .type_tag a:hover {
  background-color: #FFFFC7;
  color: darkblue;
}

.central .content .articles-container .article-item a:link,
.central .content .articles-container .article-item a:visited,
.central .content .articles-container .article-item a:hover,
.central .content .articles-container .article-item a:active {
  text-decoration: none;
}

.central .content .articles-container .article-item .article-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  padding: 1em;
}

.central .content .articles-container .article-item .article-body .article-intro {
  font-size: 1em;
  text-align: justify;
}

.central .content .articles-container .article-item .article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.central .content .articles-container .article-item .article-footer .article-related {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: transparent;
  z-index: 2;
}

.central .content .articles-container .article-item .article-footer .article-related .category-related {
  border: solid 1px darkblue;
  border-radius: 10px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 1em;
  background-color: var(--sb-menu-background);
  font-size: 1em;
}

.central .content .articles-container .article-item .article-footer .article-related .category-related a {
  color: darkblue;
}

.central .content .articles-container .article-item .article-footer .article-related .category-related:hover {
  background-color: #1EAE98;
}

.central .content .articles-container .article-item .article-footer .article-related .category-related:hover a {
  color: var(--background-top);
}

.central .content .articles-container .article-item .article-footer .article-related .category-related a:link,
.central .content .articles-container .article-item .article-footer .article-related .category-related a:visited,
.central .content .articles-container .article-item .article-footer .article-related .category-related a:hover,
.central .content .articles-container .article-item .article-footer .article-related .category-related a:active {
  text-decoration: none;
}

.central .content .articles-container .article-item .article-footer .article-published {
  font-size: 0.8em;
  color: grey;
  text-align: right;
  padding: 0.5em;
  margin-right: 1em;
  z-index: 2;
  background-color: var(--content-background);
}

.central .content .articles-container .article-item .line {
  z-index: 1;
  width: 97%;
  margin-top: -1.8em;
  margin-left: 1em;
}

.central .content .articles-container .article-item .line hr {
  border-top: solid 2px darkblue;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.central .content .articles-container .nodata-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.central .content .articles-container .nodata-container .nodata-icon {
  margin-left: auto;
  margin-right: auto;
  opacity: 0.15;
  width: 30px;
  height: auto;
}

.central .content .articles-container .nodata-container .nodata {
  font-size: 1em;
}

.content .form-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  align-self: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.content .form-container form .input-group {
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.content .form-container form .input-group span {
  padding: 0.5em;
  background-color: rgb(210, 195, 195);
  border: solid 1px black;
}

.content .form-container form .input-group .form-control {
  padding: 0.7em;
  font-family: "Source Code Pro", monospace;
  height: 17px;
  border: solid 1px black;
}

.content .form-container form .btn {
  padding: 0.5em;
  font-family: "Source Code Pro", monospace;
  background-color: var(--topbar-background);
  border: solid 1px black;
  width: 100%;
}

.content .form-container form .btn:hover {
  background-color: var(--sb-menu-background);
  color: var(--sb-title);
}

.central .mail-form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 60%;
  margin: auto;
  align-items: center;
}

.central .mail-form .form-control {
  font-family: "Source Code Pro", monospace;
  padding: 0.5em;
  margin-top: 1em;
  width: 80%;
}

.central .mail-form .mail-text {
  height: 300px;
  text-align: start;
  resize: none;
}

.central .mail-form .button-group {
  display: flex;
  flex-direction: row;
  width: 82.5%;
  margin-top: 1em;
  justify-content: space-between;
}

.central .mail-form .button-group .delete-all {
  font-family: "Source Code Pro", monospace;
  padding: 1em;
  background-color: var(--topbar-background);
  width: 47%;
}

.central .mail-form .button-group .mail-send {
  font-family: "Source Code Pro", monospace;
  padding: 1em;
  background-color: var(--topbar-background);
  width: 47%;
}

.central .mail-form .button-group .mail-send:hover,
.central .mail-form .button-group .delete-all:hover {
  background-color: var(--sb-background);
  color: var(--sb-title);
}/*# sourceMappingURL=base.css.map */