{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='article-container'>
<p class='article_p'>his is for testing purpose.### essai test## essai test# essai test</p>
<h3 class='article_h3'>essai test</h3>
<h2 class='article_h2'>essai test</h2>
<h1 class='article_h1'>essai test</h1>
<a href='https://slb-fullweb.tech' target='_blank'>slb-fullweb</a>
<pre class='prettyprint lang-py'>    if n==0:<br>        return<br></pre>
<ul class='article_ul'><li class='article_li'>papa</li>
<li class='article_li'> maman</li>
<li class='article_li'> moi</li>
</ul><p class='article_p'>ceci est un test de paragraphe.
</p>
</div>
{% endblock %}
