<div class="userlog container-fluid d-flex justify-content-center">

    {% if not user.is_authenticated %}

        <div>
            <a class="nav-link text-dark font-italic d-inline-flex align-items-center" href="" role="button">
                <i class="fa-solid fa-user-plus"></i>
                <div class="menu">Inscription</div>
            </a>
            <a class="nav-link text-dark font-italic d-inline-flex align-items-center" href="" role="button">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <div class="menu">Connexion</div>
            </a>
        </div>

    {% else %}

        <div class="d-inline-flex justify-content-start">
            <a class="nav-link text-dark font-italic d-inline-flex" href="" role="button">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <div class="menu">Déconnexion</div>
            </a>
        </div>
    {% endif %}
</div>